footer {
  padding-top: 20px;
}
.footer_informacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  font-family: "Bebas Neue", cursive;
}
.footer_enlaces {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: flex-end;
}
.enlace {
  margin-top: 10px;
}
.footer_contacto {
  margin-left: 30px;
  font: 20px;
}
.iconos {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  background-color: black;
  padding-top: 10px;

  &_a {
    margin: 1rem;
    color: white;
    text-decoration: none;
  }
}
