.hero {
  height: 75vh;
  background-color: black;

  &_div {
    width: 60%;
    height: 75vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .div_encabezado {
    transform: translateX(105%);
    text-transform: uppercase;

    .div_titulo {
      padding-top: 30px;
      font-size: 45px;
      color: rgb(152, 133, 26);
      font-family: "Bebas Neue", cursive;

      animation: bounce;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s;
      /* don't forget to set a duration! */
    }

    .div_viñetas {
      padding-top: 30px;
      font-size: 30px;
      font-family: "Bebas Neue", cursive;
      color: white;
    }
  }
}
.viñeta1 {
  -webkit-animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @-webkit-keyframes slide-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(100px);
      transform: translateY(-100px) translateX(100px);
    }
  }
  @keyframes slide-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-100px) translateX(100px);
      transform: translateY(-100px) translateX(100px);
    }
  }
}
.gradiente {
  height: 50px;
  background-image: linear-gradient(black, white);
}
nav.navbar.navbar-expand-lg {
  background-color: black;
  background-image: linear-gradient(#03045e, black);
    color: rgb(128, 111, 20);
}
a#navbarDropdown {
  color: white;
}
ul.dropdown-menu.show {
  background-color: black;
  background-image: linear-gradient(black, #03045e);;
}
a.dropdown-item {
  color: white;
}
.col-sm-4 {
  padding-top: 20px;
  flex: 0 0 auto;
  width: 33.33333333%;
  display: flex;
}
.juntas_titulo{
  margin-top: 20px;
}
.fa-solid, .fas {
  margin-right: 100px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 20px;
}
.titulo_pagina{
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 500px;
  
}
.main_carrito{
  color: white;
  background-color: black;
}