@media screen and (max-width: 450px) {
  .div_logo {
    padding-left: 30px;
    display: block;
  }
  .logo {
    width: 200px;
  }
  .hero_div {
    width: 100%;
    background-size: contain;
  }
  .hero .div_encabezado {
    display: flex;
    flex-direction: column;
    transform: translatey(65%);
  }

  .hero .div_encabezado .div_titulo {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 35px;
  }
  .hero .div_encabezado .div_viñetas {
    padding-top: 10px;
    font-size: 18px;
  }
  .repuesto {
    font-size: 17px;
  }
  .juntas {
    background-size: contain;
  }
  .carousel {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .carousel__img {
    width: 280px;
    object-fit: cover;
  }

  iframe {
    width: 300px;
  }
  .footer_informacion {
    font-size: 12px;
  }
  .ubicacion_titulo {
    font-size: 30px;
  }
}
