.presentacion {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 50px;
    transform: translateX(110%);
    text-transform: uppercase;

    &__titulo {
        font-size: 45px;
        color: rgb(152, 133, 26);
        font-family: 'Bebas Neue', cursive;
        display: inline-block;
        margin: 0 0.5rem;

        animation: bounce;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s;
        /* don't forget to set a duration! */
    }

    &__viñetas {
        padding-top: 30px;
        font-size: 30px;
        font-family: 'Bebas Neue', cursive;
        color: #181abd;
    }
}
.viñeta1{
    -webkit-animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              
            @-webkit-keyframes slide-tr {
                0% {
                  -webkit-transform: translateY(0) translateX(0);
                          transform: translateY(0) translateX(0);
                }
                100% {
                  -webkit-transform: translateY(-100px) translateX(100px);
                          transform: translateY(-100px) translateX(100px);
                }
              }
              @keyframes slide-tr {
                0% {
                  -webkit-transform: translateY(0) translateX(0);
                          transform: translateY(0) translateX(0);
                }
                100% {
                  -webkit-transform: translateY(-100px) translateX(100px);
                          transform: translateY(-100px) translateX(100px);
    }
  }
  
    }


